@import "../../styles/index";

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  background-color: #ffffff;

  flex-flow: column;
  align-items: center;
}

.textfield {
  position: relative;
  background-color: inherit;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background: transparent url("../../assets/svgs/arrow-down.svg") no-repeat 90%
    50%;
  cursor: pointer;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  outline: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

select::placeholder {
  font-size: $font-size-placeholder;
  font-family: $sans-serif;
}
select:invalid {
  box-shadow: none;
}
label {
  font-size: $font-size-button;
  letter-spacing: $letter-spacing-button;
  font-weight: $font-weight-normal;
  position: absolute;
  font-size: $font-size-label;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: inherit;
  color: gray;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}

select + label {
  top: 0;
  transform: translateY(-50%) translateX(16px) scale(0.9);
}

select:focus {
  border-width: 2px;
  + label {
    font-weight: 800;
  }
}

.input-primary select {
  border-color: $primary;
  color: $primary;

  &::placeholder {
    color: $primary;
  }
}

.input-primary label {
  color: $primary;
}
