@media print {
  .btn {
    -webkit-print-color-adjust: exact !important;
  }
}

// Standard button
.btn {
  color: inherit;
  background-color: transparent;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-width: 112px;
  border: none;
  outline: none;
  user-select: none;
  overflow: visible;
  vertical-align: middle;
  border-radius: 4px;
  height: 35px;
  padding: 0 8px 0 8px;

  &:hover {
    cursor: pointer;
  }

  //Button label styling
  &.label {
    font-family: $sans-serif;
    font-size: $font-size-button;
    line-height: $line-height-button;
    font-weight: $font-weight-medium;
    letter-spacing: $letter-spacing-button;
    text-decoration: none;
    padding: 0 8px 0 8px;
  }

  //Outlined button styling
  &.outlined {
    border-style: solid;
    padding: 0 15px 0 15px;
    border-width: 2px;
    background-color: transparent;
    border-color: $primary;
    color: $primary;
  }

  //Disabled button styling
  &-disabled {
    color: rgba(0, 0, 0, 0.37);
    cursor: default;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: none;
  }

  //Truncated button styling
  &.truncate {
    &.label {
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // rounded button styling
  &.rounded {
    border-radius: 24px;
    padding: 0 20px;
  }

  //Standard and outlined styling of Primary button
  &-primary {
    background-color: $primary;
    color: $light;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgb(255, 255, 255);
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:hover::before {
      opacity: 0.08;
    }

    &.outlined {
      color: $primary;
      border-color: $primary;

      &.rounded::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $primary;
        opacity: 0;
        transition: opacity 0.2s;
        border-radius: 24px;
      }

      &:hover::before {
        opacity: 0.1;
      }
    }
  }

  // primary light buttons

  &-primary-light {
    background-color: $primary-light;
    color: $light;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgb(255, 255, 255);
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:hover::before {
      opacity: 0.08;
    }

    &.outlined {
      color: $primary-light;
      border-color: $primary-light;

      &.rounded::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $primary-light;
        opacity: 0;
        transition: opacity 0.2s;
        border-radius: 24px;
      }

      &:hover::before {
        opacity: 0.1;
      }
    }
  }

  //Standard and outlined styling of Secondary button
  &-secondary,
  &-donate {
    background-color: $secondary;
    color: $dark;

    &.rounded::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgb(0, 0, 0);
      opacity: 0;
      transition: opacity 0.2s;
      border-radius: 24px;
    }

    &:hover::before {
      opacity: 0.04;
    }

    &.outlined {
      color: $secondary;
      border-color: $secondary;

      &.rounded::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $secondary;
        opacity: 0;
        transition: opacity 0.2s;
        border-radius: 24px;
      }

      &:hover::before {
        opacity: 0.1;
      }
    }
  }
}
