// primary colors.
.primary {
  &-text {
    color: $primary;

    &-light {
      color: $primary-light;
    }

    &-lighter {
      color: $primary-lighter;
    }
  }
  &-bg {
    background-color: $primary;

    &-light {
      background-color: $primary-light;
    }

    &-lighter {
      background-color: $primary-lighter;
    }
  }
}

// secondary colors.
.secondary {
  &-text {
    color: $secondary;
  }

  &-bg {
    background-color: $secondary;
  }
}

.light {
  &-text {
    color: $light;
  }

  &-bg {
    background-color: $light;
  }
}
