// primary colors.
.primary {
  &-text {
    color: $primary;

    &-light {
      color: $primary-light;
    }

    &-lighter {
      color: $primary-lighter;
    }
  }
  &-bg {
    background-color: $primary;

    &-light {
      background-color: $primary-light;
    }

    &-lighter {
      background-color: $primary-lighter;
    }
  }
}

// secondary colors.
.secondary {
  &-text {
    color: $secondary;
  }

  &-bg {
    background-color: $secondary;
  }
}

// // success-message color.
// .success {
//   &-text {
//     color: $success;

//     &-light {
//       color: $success-light;
//     }

//     &-dark {
//       color: $success-dark;
//     }
//   }

//   &-bg {
//     background-color: $success;

//     &-light {
//       background-color: $success-light;
//     }

//     &-dark {
//       background-color: $success-dark;
//     }
//   }
// }

// // warning-message color.
// .warning {
//   &-text {
//     color: $warning;

//     &-light {
//       color: $warning-light;
//     }

//     &-dark {
//       color: $warning-dark;
//     }
//   }

//   &-bg {
//     background-color: $warning;

//     &-light {
//       background-color: $warning-light;
//     }

//     &-dark {
//       background-color: $warning-dark;
//     }
//   }
// }

// // danger-message color.
// .danger {
//   &-text {
//     color: $danger;

//     &-light {
//       color: $danger-light;
//     }

//     &-dark {
//       color: $danger-dark;
//     }
//   }

//   &-bg {
//     background-color: $danger;

//     &-light {
//       background-color: $danger-light;
//     }

//     &-dark {
//       background-color: $danger-dark;
//     }
//   }
// }

// .info {
//   &-text {
//     color: $info;

//     &-light {
//       color: $info-light;
//     }

//     &-dark {
//       color: $info-dark;
//     }
//   }

//   &-bg {
//     background-color: $info;

//     &-light {
//       background-color: $info-light;
//     }

//     &-dark {
//       background-color: $info-dark;
//     }
//   }
// }

// // dark color.
// .dark {
//   &-text {
//     color: $dark;
//   }

//   &-bg {
//     background-color: $dark;
//   }
// }

// light color.
.light {
  &-text {
    color: $light;
  }

  &-bg {
    background-color: $light;
  }
}
