@import "./src/styles/variables";

#article-swiper .swiper-button-next,
#article-swiper .swiper-button-prev {
  color: $primary;
}

#article-swiper .swiper-pagination-bullet-active {
  background: $primary;
}

#stories-swiper .swiper-button-next,
#stories-swiper .swiper-button-prev {
  color: $primary;
}

#stories-swiper .swiper-pagination-bullet-active {
  background: $primary;
}
.stories-swiper-ipad,
.stories-swiper-mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .stories-swiper-desktop {
    display: none;
  }
  .stories-swiper-mobile {
    display: block;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .stories-swiper-desktop {
    display: none;
  }
  .stories-swiper-ipad {
    display: block;
  }
}
