@import "../../styles/index";

.productCard {
  &ListItem {
    list-style: none;
    margin: 8px;
  }

  &Wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    flex-direction: column;
    align-items: center;
    min-height: 275px;
  }

  &Item {
    background-color: rgba($primary-lighter, 0.4);
    border-radius: 25px;
    margin-bottom: 8px;
    padding: 16px;
    position: relative;
  }

  &Top {
    min-height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &Header {
    display: flex;
    justify-content: space-around;
  }

  &Heading {
    display: flex;
    justify-content: space-between;
  }

  &Title {
    text-align: left;
    margin-bottom: 8px;
    margin-right: 8px;
  }

  &Info {
    margin-left: 16px;
  }

  &Details {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  &ImageWrapper {
    position: relative;
    height: 110px;
    margin-bottom: 16px;
    width: 100px;
  }

  &Flag {
    width: 50px;
    position: absolute;
    bottom: -10px;
    right: -10px;
  }

  &Image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  &Interaction {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
}

.producerCard {
  &Top {
    padding: 16px;
  }
  &Desc {
    max-width: 450px;
  }

  &Close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
  }

  &Country {
    margin-bottom: 8px;
  }
  &Address {
    margin-bottom: 8px;
  }
}

.detailsButton {
  background-color: transparent;
  border-style: none;
  outline: none;
  color: $primary;
}

.statistics {
  text-align: left;
  list-style: none;

  & li {
    margin-bottom: 8px;
  }
}
