@import "../../styles/index";

.donateSection {
  & h4,
  h5,
  span,
  p {
    color: $primary;
  }
  & h4 {
    text-align: left;
  }
}

ol.listOfSteps {
  counter-set: li; // Initiate a counter
  list-style-type: none;
  line-height: $line-height-base;
  text-align: left;
  color: $primary;

  li {
    position: relative;
    padding: 2vw 0 2vw 47px;

    &::before {
      border-radius: 50%;
      color: $light;
      background: $primary;
      width: 36px;
      height: 36px;
      //positioning circles
      position: absolute;
      left: 0;
      top: 4px;
      //positioning text inside the circle
      text-align: center;
      line-height: 2.2;
    }
  }
}

.step1::before {
  counter-increment: li; // Increment the counter by 1
  content: counter(li); // Use the counter as content
}
.step2::before {
  counter-set: li 3;
  content: counter(li);
}
.step2last::before {
  content: counter(li);
  counter-increment: li;
}

fieldset.eachStep,
.step1Container {
  border: none;
  display: flex;
  flex-flow: column wrap;
  align-items: first baseline;
  padding-left: 32px;
}

.inputWrapper {
  display: flex;
  flex-flow: row wrap;
}

.paymentMethods {
  border: 1px solid $primary;
  border-radius: 20px;
  margin: 16px;
  // padding: 0 10px 5px 20px;
  width: 150px;
  // width: clamp(30%, 125px, 50%);
  height: 100%;
  cursor: pointer;

  .methodsLabel {
    color: $primary;
    font-size: $font-size-label;
    background-color: #fff;
    width: max-content;
    position: relative;
    padding: 0 0.3rem;
    top: 0;
    transform: translateY(-50%) translateX(16px) scale(0.9);
    // left: -2px;
    // pointer-events: none;
  }
}

.checkBoxContainer {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 16px;

  & span {
    padding: 0.5rem 0.25rem;
    font-size: 14px;
  }

  & input[type="checkbox"] {
    cursor: pointer;
    border: 1px solid $primary;
    //form checkbox to circle
    height: 18px;
    width: 18px;
    border-radius: 100%;
    padding: 0 2px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #fff;
  }
  & input[type="checkbox"]:checked {
    border: 1px solid $primary;
    // border: 1px solid #41b883;
    background-color: $primary-lighter;
  }
  & input[type="checkbox"]:active {
    background-color: $primary-lighter;
  }
}
.checkBoxContainer > input[type="checkbox"]:checked + span::before {
  content: "\2713";
  display: block;
  text-align: center;
  color: $primary;
  position: absolute;
  left: 0.2rem;
  top: -0.4vh;
  font-size: 16px;
}
.checkBoxContainer > input[type="checkbox"]:checked + span::after {
  content: "";
  display: none;
}

@media (min-width: 400px) {
  // .checkBoxContainer > input[type="checkbox"]:checked + span::before {
  //   left: 0.2rem;
  //   top: 0.4rem;
  // }
}
@media (min-width: $max-s) {
  .donateSection {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;

    &:nth-child(2),
    &:nth-child(1) {
      flex-grow: 1;
      flex-basis: 300px;
    }
    & form:nth-child(2) {
      margin-right: 2vw;
    }
  }

  fieldset.eachStep {
    width: 100%;
  }

  .step1Container {
    flex-flow: row wrap;
  }
  ol.listOfSteps {
    li {
      padding-top: 9px;
    }
  }
  .checkBoxContainer > input[type="checkbox"]:checked + span::before {
    top: 0.6vh;
  }
}
