@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}
.form__wrapper {
  max-width: 500px;

  & form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  & h6 {
    padding: 2rem 0 0;
    text-align: center;
  }

  & p {
    text-align: center;
  }
}
.profile__img {
  max-width: 325px;
  -webkit-filter: drop-shadow(10px 10px 20px rgba (0, 0, 0, 0.3));
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
}
.btn {
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 0.4rem 1.5rem 0.4rem 1.5rem;
  width: 325px;
  background-color: $primary;
  color: white;

  & a {
    color: white;
    font-size: 13px;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }

  &__outline {
    background-color: transparent;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    color: $primary;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    width: 325px;
    border-color: $primary;

    & a {
      color: $primary !important;
      font-size: 13px;
      padding: 0;
      margin: 0;
      text-decoration: none;
    }
  }
}
/*---------Profile Info-----------*/
.profile__wrapper {
  padding: 5rem 10rem;
  display: flex;
}
.wrapper__left {
  width: 50%;
  height: 100%;
  align-self: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wrapper__right {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.profile__avatar {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  top: -10%;
  left: 50%;
  transform: translate(-50%, 10%);
}
.purple__div {
  background-color: $primary;
  text-align: center;
  position: relative;
  width: 80%;
  min-height: 550px;
  border-radius: 20px;
  -webkit-box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.3);

  & p {
    color: white;
    padding-bottom: 10px;
    text-align: center;
  }
  & h6 {
    color: white;
  }
}
.profile__text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
}
.lightpurple__div {
  background-color: rgba(219, 208, 239, 0.4);
  border-radius: 20px;
  padding: 20px;
}

@media (max-width: 1024px) {
  .profile__wrapper {
    padding: 4rem;
  }
}
@media (max-width: 768px) {
  .profile__avatar {
    width: 150px;
    height: 150px;
  }
  .purple__div {
    min-height: 450px;
  }
}
@media (max-width: $max-xs) {
  .profile__wrapper {
    flex-direction: column;
    padding: 4rem 2rem 0;
  }
  .wrapper__right,
  .wrapper__left {
    width: 100%;
  }
  .wrapper__right {
    align-items: center;
    margin-top: 2rem;
  }
  .purple__div {
    width: 100%;
    min-height: 420px;
  }
}
