@import "../../styles/index";

.donationPage {
  margin: 5vh 0 18vh 0;
  padding: 0 5vw;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  & h1,
  p {
    color: $primary;
    text-align: left;
  }

  & h1 {
    margin-bottom: 2vh;
  }
}

.donationBox {
  //positioning content
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  // styling
  background-color: $primary;
  border-radius: 20px;
  margin: 0 0 6vh 0;
  -webkit-box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  //Sizing
  position: relative;
  width: 100%;
  height: 200px;
  padding: 50px;

  .donationImg {
    height: clamp(250px, 220px, 500px);
    position: relative;
    width: auto;
    margin: auto;
    top: -100px;
    -webkit-filter: drop-shadow(10px 10px 20px rgba (0, 0, 0, 0.3));
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
  }
}

.donationBtns {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 3vw;

  //space between buttons
  & button {
    margin-bottom: 2vw;
  }
}

//iphone SE and smaller
@media (max-width: 340px) {
  .donationBox {
    margin: 10vh 0 6vh 0;
  }
}

@media (min-width: $max-s) {
  .donationBox {
    margin: 3vh 0;
  }

  .donationBtns {
    flex-flow: row wrap;
    justify-content: space-between;
    & button {
      margin: 0 2vw 0 0;
    }
  }
}

@media (min-width: $max-m) {
  .donationIntro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
    align-items: center;
  }
  .donationBox {
    margin: 0 auto;
    position: relative;
    left: calc(-40px - 48px);
  }
}
@media (min-width: $max-l) {
  .donationIntro {
    align-items: flex-end;
  }
  .donationBox {
    margin: 0 auto;
  }
}
