@import "../../styles/index";
@import "../burgermenu/BurgerMenu.module.scss";

header.header {
  height: 15vh;

  & a {
    font-weight: $font-weight-normal;
    transition: font-weight 0.3s;
    & :hover {
      text-decoration: none;
    }
  }
}

.polloName {
  text-align: initial;
  padding: 1rem 0 0 1rem;
  color: $primary;
  font-size: 1.4rem;
  width: max-content;
  :nth-child(1) {
    font-weight: 300;
    color: $primary-light;
    font-size: 1.4rem;
  }
}

.actionBtns {
  @include row-flex;
  justify-content: space-around;
  margin-top: 1.5vh;

  //Offer button
  :nth-child(2) {
    background-color: $primary-light;
  }

  & button {
    margin-left: 5px;
  }
}

.expanedMenuList {
  //@include row-flex;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  line-height: 3;
  align-items: center;
  color: $primary;
  cursor: pointer;
  margin-top: 1vw;

  // & li a {
  //   display: inline-block;
  //   text-align: center;
  // }
  & a:hover {
    text-decoration: none;
    font-weight: bold;
  }
  a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.balance {
  position: absolute;
  top: 8vh;
  right: 16px;
  background-color: rgba($primary-lighter, 0.3);
  padding: 8px 16px;
  border-radius: 20px;
}

//iphone SE
@media (max-width: 340px) {
  header.header {
    height: 18vh;
  }
  .actionBtns {
    //"Apply for product" button
    :nth-child(3) {
      margin-top: 1vw;
    }
  }
}

@media (min-width: $max-s) {
  //Stretch action buttons
  header.header {
    height: 7vh;
  }
  // .actionBtns {
  //   :nth-child(1),
  //   :nth-child(2),
  //   :nth-child(3) {
  //     width: 30%;
  //   }
  // }
}

@media (min-width: $max-m) {
  .actionBtns {
    margin-top: 0;
    display: flex;
    flex-flow: row;
    height: 100%;
    align-items: center;
  }
  .polloName {
    text-align: center;
    padding: 1rem;
  }
}
.header__left {
  width: 45%;
  display: flex;
  justify-content: space-around;
}
.header__right {
  width: 45%;
  display: flex;
  justify-content: space-around;
}
