@import "../../styles";

.page {
  position: relative;
  max-width: $max-ml;
  margin: 24px auto;
}

h1 {
  text-align: left;
  margin-bottom: 2rem;
}
.topSection {
  display: flex;
  position: relative;
  //height: 50vh;
  //flex-wrap: wrap;
  //align-items: flex-end;
  margin: 60px auto 100px;
  //padding: 16px;
}

.bannerWrapper {
  width: 50%;
  margin-bottom: 8px;
  margin: 0 auto 8px auto;
  display: block;
  text-align: center;
}
.filler {
  background-color: $primary;
  border-radius: 20px 0 0 20px;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
  padding: 3rem 4rem;
}

.banner {
  height: 100%;
  object-fit: cover;
  margin: 0 16px;
}

.paragraphWrapper {
  width: 50%;
  //padding: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.paragraph {
  margin-bottom: 16px;
  line-height: 1.7rem;
}

.applicationList {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
  justify-content: center;
  grid-gap: 1rem;
}

.filterSortGroup {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
  width: 300px;
}
.filterSortWrapper {
  display: flex;
  margin-bottom: 8px;
}

.filterButton {
  max-width: 100px;
  margin-bottom: 8px;
}

.noApplicationsText {
  margin-bottom: 40px;
  padding-top: 32px;
  text-align: center;
}

#loadingBtn {
  margin: 0 auto;
  display: block;
}

@media (max-width: $max-s) {
  .topSection {
    flex-direction: column;
  }
  .bannerWrapper,
  .paragraphWrapper {
    width: 100%;
  }
  .bannerWrapper {
    & img {
      width: 50%;
    }
  }
  .paragraphWrapper {
    padding-top: 2rem;
  }
  .filler {
    margin: 2rem 0 2rem 2rem;
    padding: 1rem;
  }
}
@media (max-width: $max-xs) {
  .filler {
    margin: 1rem;
  }
}
@media screen and (max-width: $max-m) {
  .bannerWrapper {
    //min-height: 300px;
    margin-bottom: 8px;
    position: relative;
    right: 0;
    margin: 0;
  }

  .banner {
    margin: 0 auto;
    display: block;
  }

  .paragraphWrapper {
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    //margin-left: 40px;
  }

  .filterSortGroup {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
  }
  .filterSortWrapper {
    display: flex;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: $max-ml + 24) {
  .applicationList {
    justify-content: flex-start;
  }

  .filler {
    border-radius: 20px 0 0 20px;
    padding: 3rem 4rem;
    //margin-left: 50px;

    & h1 {
      font-size: 3.5rem;
    }
  }
}
