@import "../../styles/variables";

@mixin column-flex {
  display: flex;
  flex-flow: column wrap;
}
@mixin row-flex {
  display: flex;
  flex-flow: row wrap;
}

.navi {
  @include column-flex;
  justify-content: space-evenly;
}
.bars {
  @include column-flex;
  align-self: end;
  justify-content: space-between;
  cursor: pointer;
  margin: 0rem 2rem 0 0;
  position: absolute;
  top: 1.3vh;
  right: 2.4vw;
  z-index: 9999;

  .bar {
    background-color: $primary;
    height: 3px;
    width: 24px;
    border-radius: 2vw;
    margin: 0.4vh 0;
    opacity: 1;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  span:nth-child(1) {
    top: 0px;
  }
  span:nth-child(2) {
    top: 6px;
  }
  span:nth-child(3) {
    top: 12px;
  }
}

.menuList {
  list-style-type: none;
  line-height: 3;
  text-align: initial;
  background-color: $light;
  z-index: 8888;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 8vh 0 0 0;
  li {
    color: $primary;
    text-indent: 13vw;
  }
  & a:hover {
    text-decoration: none;
    font-weight: bold;
  }
}
.separateBar {
  display: flex;
  justify-content: center;
  hr {
    color: $primary-lighter;
    background-color: $primary-lighter;
    width: 80%;
    border: 1.5px solid $primary-lighter;
    border-radius: 2px;
    margin: 2vw auto;
  }
}

.balance {
  max-width: 200px;
  background-color: rgba($primary-lighter, 0.3);
  padding: 8px 16px;
  border-radius: 20px;
  margin: 0 auto;
}

.logoWrapper {
  @include row-flex();
  justify-content: center;
  margin-top: 15vh;
}

//Burgermenus height on mobile
@media (max-width: $max-xs) {
  .navi {
    height: 100vh;
  }
}
