@import "./src/styles/variables";

.wrapper {
  padding: 0 4rem 4rem;
}
.flex {
  display: flex;
  flex-direction: row;
  height: auto;
}
.flex__secondary {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 4rem;
}
.flex__right,
.flex__left {
  width: 50%;
  align-self: center;
  position: relative;
}
.flex__left {
  & img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-filter: drop-shadow(10px 10px 20px rgba (0, 0, 0, 0.3));
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
  }
  & p {
    padding: 5rem 0;
  }
}
.flex__right {
  padding: 4rem;
  & h1 {
    letter-spacing: 2px;
    padding: 3rem 0 2rem;
  }
}
.flex__right__secondary {
  padding-left: 4rem;
  width: 50%;
}
.purplebox__small {
  background-color: $primary;
  min-height: 40vh;
  width: 90%;
  float: left;
  border-radius: 0 20px 20px 0;
  -webkit-box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.3);
}
.articles__wrapper {
  padding: 3rem 4rem;
}

.purple__div {
  background-color: rgba(219, 208, 239, 0.5);
  width: 100%;
  height: auto;
  border-radius: 20px;
  padding: 50px;

  & img {
    width: 100%;
  }

  & h6 {
    color: #453266;
    font-weight: bold;
  }
  & p {
    font-weight: 400;
    color: $primary-light;
    padding: 1rem 0 0;
  }
  & a {
    text-decoration: none;
  }
}
.article__mobile {
  display: none;
}
.profile__div {
  display: flex;
  flex-direction: column;
  text-align: center;

  & img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  & p {
    text-align: center;
  }
}

.profile__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding-top: 3rem;
}
@media (max-width: $max-xs) {
  .wrapper {
    padding: 0 2rem 2rem;
  }
  .flex {
    flex-direction: column-reverse;
  }
  .flex__secondary {
    flex-direction: column;
    padding: 2rem;
  }
  .flex__right,
  .flex__left,
  .flex__right__secondary {
    width: 100%;
    padding: 0;
  }
  .flex__left {
    & p {
      padding: 0 0 2rem;
    }
  }
  .flex__right {
    padding: 0 2rem 2rem;
  }
  .profile__grid {
    grid-template-columns: 1fr 1fr;
  }
  .articles__wrapper {
    padding: 1rem;
  }
  .flex__left {
    & img {
      position: relative;
      transform: translate(0%, 0%);
      left: 0;
    }
  }
  .article__desktop {
    display: none;
  }
  .article__mobile {
    display: block;
  }
}
@media (max-width: $max-s) and (min-width: $max-xs) {
  .profile__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .articles__wrapper {
    padding: 1rem;
  }
}
@media (min-width: 1900px) {
  .flex {
    height: 90vh;
  }
}
